*{
    font-family: 'Play', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
}
:root{
    --var-color-bg-site: #0d0f23;
}
body{
    background-color: var(--var-color-bg-site);
}
.btnMenu{
    display: none;
}
section{
    min-height: 560px;
}
.containerRelogio{
    min-height: 525px;
}
.textTitulo{
    font-size: 2.5rem!important;
}
.spanPomodoro, .spanCronometro, .spanRelogio{
    font-family: 'Inter', sans-serif;
    font-size: 8.2rem !important;
}
.btnPomodoro{
    font-size: 1.4rem !important;
}
.btn-pause, .btn-parar, .btn-resetar, .descansar{
    display: none;
}
.cronometro{
    min-height: 380px;
}
.divHora{
    border-color: #dee2e647!important;
}
.spanMain{

}
.divDoisPontos, .spanPomodoroT{
    color: rgba(255, 255, 255, 0.4)!important;
}
.spanPomodoroT{
    margin-top: -25px;
    font-size: 1rem !important;
}
.spanCard{
    /* font-size: 4.3rem !important; */
}
.divMenu{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: black;
}
.btnClose{
    width: 30px;
    height: 30px;
}
footer{
    height: 60px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.767);
}
@media screen and (max-width: 1000px){
    .spanRelogio, .spanCronometro{
        font-size: 6rem !important;
    }
    .spanPomodoro{
        font-size: 7.4rem !important;
    }
}
@media screen and (max-width: 850px){
    .spanRelogio, .spanCronometro{
        font-size: 5.6rem !important;
    }
    .spanPomodoro{
        font-size: 7rem !important;
    }
}
@media screen and (max-width: 770px){
    .spanRelogio, .spanCronometro{
        font-size: 4.4rem !important;
    }
}
@media screen and (max-width: 500px){
    .btnCronometroPage, .btnRelogioPage, .btnContato{
        display: none!important;
    }
    .btnMenu{
        display: flex;
    }
    /* .spanMain, .spanCronometro{
        font-size: 3.6rem!important;
    } */
    .spanRelogio, .spanCronometro{
        font-size: 3.2rem !important;
    }
    .spanPomodoro{
        font-size: 6rem !important;
    }
    .textTitulo{
        font-size: 2.3rem!important;
    }
    .estudar, .descansar{
        font-size: 1.5rem!important;
    }
    .spanPomodoroT{
        margin-top: -15px;
        font-size: 0.8rem !important;
    }
    .containerHora{
        margin-top: 0!important;
    }
    .btnPomodoro{
        font-size: 1.2rem !important;
    }
    #logo{
        width: 100%;
        src: url(../img/onlinetimemobile.svg)!important;
    }
    .logo{
        width: 92px;
        height: 46px;
    }
}
@media screen and (max-width: 450px){
    .pomodoroHora{
        flex-direction: column;
    }
    .spanRelogio, .spanCronometro, .spanPomodoro{
        font-size: 5.6rem !important;
    }
    .spanPomodoroH{
        line-height: 1.3 !important;
    }
    .divDoisPontos{
        display: none!important;
    }
}